<div class="container">
     <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
                 <form class="form-signin"  method="post" action="/oauth/login">
                   <h2 class="form-signin-heading">Sign In</h2>
                   <input type="hidden" name="next" value="<%= nextUrl %>"></input>

                   <input type="text" name="username" class="form-control" placeholder="User Name" required="" autofocus="" ></input>
                   <input type="password" class="form-control" name="password" placeholder="Password" required=""></input>
                   <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                 </form>

               <button type="button" class="btn btn-primary" ng-click="doXauth()">Test Xauth</button>
       </div>
     </div>
</div>