﻿<div class="container">
<div class="row">
	<div class="col-md-12">
		<div class="well">Welcome! This is indefinitely empty.</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		
	</div>
	<div class="col-md-9">
		
	</div>
</div>
</div>