<div class="container">
     <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <form class="form-forgotpassword" ng-submit="submit()" role="form">
                  <h2 class="form-forgotpassword-heading">Forgot Your Password?</h2>
                  <p>Enter your email to retrieve it.</p>
                  <div class="form-group">
                       <input type="text" class="form-control" ng-model="loginModel.email" placeholder="Email" required="" autofocus="">
                  </div>
                  <div class="form-group">
                    <a ng-href="/#/login">Back to Login</a>
                    <button class="btn btn-lg btn-primary pull-right" type="submit">Submit</button>
                  </div>
              </form>
               <!-- Feature -->
               <!-- <button type="button" class="btn btn-primary" ng-click="doXauth()">Test Xauth</button> -->
          </div>
     </div>
</div>