<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Join our community of visionaries</h1>
    </div>    
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3 class="text-center">Share exponential ideas</h3>
      <p>We help you define your exponential ideas using the ExO Characteristics</p>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Community validation</h3>
      <p>A credible community ranks ideas and provides feedback</p>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Blockchain Verified</h3>
      <p>Using blockchain we validate legitimate votes and recognize ideators</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-4">
      <a ng-href="/#/login" class="btn btn-primary btn-block">Sign In</a>
    </div>
    <div class="col-md-2">
      <a ng-href="/#/join" class="btn btn-primary btn-block">Join</a>
    </div>
  </div>
</div>