<div class="container">
     <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <form class="form-join" ng-submit="submit()" role="form">
                  <h2 class="form-signin-heading">Join Now</h2>
                  <p>Enter your information to register below.</p>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-6">
                        <input type="text" class="form-control" ng-model="loginModel.firstname" placeholder="First Name" required="" autofocus="">
                      </div>
                      <div class="col-md-6">
                        <input type="text" class="form-control" ng-model="loginModel.lastname" placeholder="Last Name" required="" autofocus="">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" ng-model="loginModel.username" placeholder="Email" required="" autofocus="">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" ng-model="loginModel.password" placeholder="Password" required="">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" ng-model="loginModel.confirmPassword" placeholder="Confirm Password" required="">
                  </div>
                  <div class="form-group">
                    Already a member? <a ng-href="/#/forgot-password">Sign In</a>.
                    <button class="btn btn-lg btn-primary pull-right" type="submit">Sign In</button>
                  </div>
              </form>
               <!-- Feature -->
               <!-- <button type="button" class="btn btn-primary" ng-click="doXauth()">Test Xauth</button> -->
          </div>
     </div>
</div>