﻿<div class="container">
     <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <form class="form-signin" ng-submit="submit()" role="form">
                  <h2 class="form-signin-heading">Sign In</h2>
                  <p>Enter your username or password below.</p>
                  <div class="form-group">
                       <input type="text" class="form-control" ng-model="loginModel.username" placeholder="Username" required="" autofocus="">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" ng-model="loginModel.password" placeholder="Password" required="">
                  </div>
                  <div class="form-group">
                    <a ng-href="/#/forgot-password">Forgot Password?</a>
                    <button class="btn btn-lg btn-primary pull-right" type="submit">Sign In</button>
                  </div>
              </form>
               <!-- Feature -->
               <!-- <button type="button" class="btn btn-primary" ng-click="doXauth()">Test Xauth</button> -->
          </div>
     </div>
</div>