<nav class="navbar navbar-default" role="navigation" ng-controller="NavigationCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="/#/home">Application</a>
    </div>
    <div class="collapse navbar-collapse">

      <div class="nav navbar-nav navbar-right" ng-hide="!AuthService.isLoggedIn()" ng-cloak>
        <span>Welcome {{currentUser.firstname}}!&nbsp;&nbsp;</span>
        <button class="btn btn-default navbar-btn" ng-click="AuthService.logout()">Log Out</button>
      </div>

      <div class="nav navbar-nav navbar-right" ng-hide="AuthService.isLoggedIn()" ng-cloak>
        <button class="btn btn-default navbar-btn" ng-href="/#/login">Sign In</button>
        <button class="btn btn-default navbar-btn" ng-href="/#/join">Join</button>
      </div>

    </div>
    <!-- /.nav-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<div ui-view></div>